#pole {
  background: #000000 url(images/pole.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size:    cover;
  -o-background-size:      cover;
  background-size:         cover;
}

.football_img {
  width: 90%;
  object-position: 0 -260px;
}

.arrow:before{
  content:'';
  width: 0px;
  height: 0px;
  border: 30px solid transparent;
  border-top-color: transparent;
  display: inline-block;
  -webkit-transform: translate(-30px, -50px);
}

.krsz_items {
  display: block;
  width: 200px;
  height: 55px;
  position: fixed;
  left: 10px;
  z-index: 99999;
}
