div.event-details {
  background: transparent;
  padding: 30px;
  position: absolute;
  bottom: 80px;
  right: 30px;
}

#pole {
  background: #000000 url(images/pole.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size:    cover;
  -o-background-size:      cover;
  background-size:         cover;
}

.football_img {
  width: 90%;
  object-position: 0 -260px;
}

.arrow:before{
  content:'';
  width: 0px;
  height: 0px;
  border: 30px solid transparent;
  border-top-color: transparent;
  display: inline-block;
  -webkit-transform: translate(-30px, -50px);
}

.krsz_items {
  display: block;
  width: 200px;
  height: 55px;
  position: fixed;
  left: 10px;
  z-index: 99999;
}

.hoverTable tbody tr:hover {
  background-color: #454d55;
}

.CellWithComment{
  position:relative;
}

.CellComment{
  display:none;
  position:absolute;
  z-index:100;
  border:1px;
  background-color:white;
  border-style:solid;
  border-width:1px;
  border-color:red;
  padding:3px;
  color:red;
  top:20px;
  left:20px;
}

.CellWithComment:hover span.CellComment{
  display:block;
}
